<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="test,love test,eye test,color test,healthy test">
    <meta name="author" content="sam">
    <link rel="icon" href="~/favicon.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
</head>
<body>
    @*<nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/index"><img src="~/Content/images/logo.png" alt="" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>*@
    <div class="hidden-xs title_wrapper">
        <a class="navbar-brand" href="/home/index"><img src="~/Content/images/logo.png" alt="" /></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="title_game">@RenderSection("titlegame",true)</span>
    </div>

    <div class="container">
        <div class="row ads visible-xs-block" style="text-align:center">
            <img style="width:79%;" src="~/Content/images/textadstopbottom.png" />
        </div>
        
        <div class="row">
            <div class="col-sm-3 hidden-xs" style="float:left"><img src="~/Content/images/leftads.png" /></div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>

        <div class="ads">
            <img style="width:79%;" src="~/Content/images/textadstopbottom.png" />
        </div>
    </div> <!-- /container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
